* {
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    background-color: #bc949c;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header h1{
    display: inline-block;
    font-size: 70px;
    color: white;
    font-weight: lighter;
    border-left: 20px;
    padding: 0px 2.5%;
}

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
    text-decoration: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
    text-decoration: none;
    color: white;
}

.header a {
    text-decoration: none;
    color: white;
}

.header a:hover {
    text-shadow: rgb(90, 88, 88) 1px 0 7px;
}

.content {
    display: flex;
    flex-direction: row;
    padding: 2.5% 0% 2.5% 0%;
}

.content a {
    text-decoration: underline;
    position: relative;
}

.content-header {
    width: 20%;
    display: flex;
    flex-direction: column;
    border-right: solid;
}

.content-header img {
   width: 85%;
    margin-left: 20px;  
}

.content p {
    display: inline;
    padding: 0% 2%;
}

.content-header h2 {
    text-align: right;
    padding: 0px 10px;
}

.work-examples {
    display: flex;
    width: 80%;
    flex: 1 1 auto;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    text-decoration: none;
}

.work-examples a {
    border-style: solid;
    border-width: thick;
    width: 39%;
    height: 20%;
    font-weight: bold;
    border-color: black;
    text-decoration: none;
    color: black;
    font-size: x-large;
    margin: 0px 1%;
}

.work-examples img {
    width: 100%;
    height: 100%;
}

.work-examples a:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.work-examples img:hover {
    opacity: 0.7;
}

.work-examples #first-app {
    width: 80%;
    height: 50%;
    text-align: center;
}

.contact-info {
    display: flex;
    width: 80%;
    flex: 1 1 auto;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    font-weight: bold;
    text-decoration: underline;
}

.contact-info a {
    color: black;
}

.contact-info p:hover, .resume-link p:hover {
    text-shadow: rgb(134,135,184) 1px 0 7px;
}

footer h4 {
    text-align: center;
}

/*media queries for formatting on an ipad device*/
@media screen and (max-width: 992px) {
    /**/
    .header {
        flex-direction: column;
    }

    .header h1, nav {
        text-align: center;
    }
  }

/*media queries for formatting on a cell phone device*/
@media screen and (max-width: 768px) {
    .work-examples a {
        width: 80%;
    }

    #work {
        height: 845px;
    }

}