* {
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    background-color: #ffb6c1;
}

.header h1{
    display: inline-block;
    font-size: 70px;
    color: white;
    font-weight: lighter;
    border-left: 20px;
}

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
    text-decoration: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
    text-decoration: none;
    color: white;
}

.header a {
    text-decoration: none;
    color: white;
}

.content {
    display: flex;
    flex-direction: row;
    padding: 2.5% 0% 2.5% 0%;
}

.content a {
    text-decoration: underline;
    color: black;
    font-weight: bold;
    position: relative;
}

#work {
    display: flex;
    flex-direction: row;
    height: 300px;
}

.content-header {
    width: 20%;
    display: flex;
    flex-direction: column;
    border-right: solid;
}

.content-header img {
   width: 85%;
    margin-left: 20px;  
}

.content p {
    display: inline;
    padding: 0% 2%;
}

.content .category-header {
    display: inline;
}

.category-header .content {
    display: inline;
}

.content-header h2 {
    text-align: right;
    padding: 0px 10px;
}

.work-examples {
    display: flex;
    width: 80%;
    flex: 1 1 auto;
    flex-direction: row;
    justify-content: space-around;
    height: 300px;
    flex-wrap: wrap;
    text-decoration: none;
}

.work-examples p {
    border-style: solid;
    border-width: thick;
    width: 20%;
    border-radius: 5%;
    font-family: 'Monaco', sans-serif;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-color: rgb(134,135,184);
    background-color: rgb(134,135,184);
    background-image: linear-gradient(175deg, rgba(0,0,0,0) 95%, #8da389 95%),
    linear-gradient( 85deg, rgba(0,0,0,0) 95%, #8da389 95%),
    linear-gradient(175deg, rgba(0,0,0,0) 90%, #b4b07f 90%),
    linear-gradient( 85deg, rgba(0,0,0,0) 92%, #b4b07f 92%),
    linear-gradient(175deg, rgba(0,0,0,0) 85%, #c5a68e 85%),
    linear-gradient( 85deg, rgba(0,0,0,0) 89%, #c5a68e 89%),
    linear-gradient(175deg, rgba(0,0,0,0) 80%, #ba9499 80%),
    linear-gradient( 85deg, rgba(0,0,0,0) 86%, #ba9499 86%),
    linear-gradient(175deg, rgba(0,0,0,0) 75%, #9f8fa4 75%),
    linear-gradient( 85deg, rgba(0,0,0,0) 83%, #9f8fa4 83%),
    linear-gradient(175deg, rgba(0,0,0,0) 70%, #74a6ae 70%),
    linear-gradient( 85deg, rgba(0,0,0,0) 80%, #74a6ae 80%);
}

.work-examples a {
    text-decoration: none;
    color: white;
}

.contact-info {
    display: flex;
    width: 80%;
    flex: 1 1 auto;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
    text-decoration: underline;
}

.contact-info a {
    color: black;
}

.resume-link {
    display: flex;
    justify-content: center;
    width: 80%;
}

footer h4 {
    text-align: center;
}